---
title: Lily Nguyen | Nguyensomniac
description: Home of Lily Nguyen, a product designer, web developer, and maker of things studying at UC Berkeley.
---

<div class="intro clearfix colorful">
  <h1 class="container padding-xl">I am Lily Nguyen, a Bay Area based designer and developer.</h1>
</div>
<div id="work" class="clearfix container padding-large light">
  <h2>Work</h2>
  <div class="row">
    <% sitemap.resources.select{ |r| r.path.start_with? 'projects/'}.each do |project| %>
      <div class="column-dt-6 column-12">
        <div class="work-card">
          <% link_to project.path do %>
            <div class="work-image" style="background-image: url('./<%= project.metadata[:page]["image"] %>')"></div>
          <% end %>
          <div class="work-section white-panel">
            <% link_to project.path do %>
              <h3 class="work-card-header">
                <%= project.metadata[:page]["title"] %>
              </h3>
            <% end %>
            <p>
              <%= project.metadata[:page]["description"] %>
            </p>
            <div class="work-tags button-group">
              <% project.metadata[:page]["tags"].each do |tag| %>
                <div class="button button-small <%= tag %>"><%= tag %></div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>